
<header>
  <div class="container">
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="mca.html">MCA</a></li>
        <li><a href="term-loans.html">Term Loans</a></li>
        <li><a href="cre.html">CRE Financing</a></li>
        <li><a href="bridge-loans.html">Bridge Loans</a></li>
        <li><a href="merchant-cash-advance-calculator.html">MCA Calculator</a></li>
        <li><a href="term-loan-calculator.html">Loan Calculator</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
